body {
  background: white url("images/background.gif") no-repeat;
}

li a {
  color: green;
  text-decoration: none;
}

a:visited {
  color: red;
}

a:link {
  color: pink;
}

a:active {
  color: yellow;
}

a:hover {
  background-color: gray;
}